:root {
    --bg-color: #eff1f5;
    --txt-color: #4c4f69;
    --primary: #179299;
    --primary-hover: #26aeb5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.main {
    position: relative;

    width: 100%;
    height: 50%;

    padding: 0rem 3.125rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.875rem;
}

.me .name {
    font-size: 2.375rem;
    font-weight: bold;
    color: var(--txt-color);
}

.me .position {
    font-size: 1.063rem;
    font-weight: 300;
    color: var(--txt-color);
}

.about p {
    font-size: 1.008rem;
    line-height: 1.5;
    color: var(--txt-color);
}

.contact {
    display: block;
    width: 210px;
    height: 40px;

    text-decoration: none;

    background: var(--primary);
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.930rem;
    font-weight: 500;

    gap: 0.313rem;

    transition: 0.2s;
}

.contact:hover {
    background: var(--primary-hover);
}

.links {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.projects-container {
    padding: 0rem 3.125rem;

    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .main {
        height: auto;
        padding: 30px;
    }
    
    .main .name {
        font-size: 2rem;  
    }
}
