:root {
    --bg-color: #282828;
    --highlight: #2aeb7b;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.main {
    position: relative;

    width: 100%;
    height: 50%;

    padding: 0rem 3.125rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.875rem;
}

.main::before {
    content: '';

    position: absolute;
    z-index: -5;
    
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    background: url("https://cdna.artstation.com/p/assets/images/images/072/429/988/large/davood-moghaddami-asset.jpg?1707334619");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.750);
}

.me .name {
    font-size: 2.375rem;
    font-weight: bold;
}

.me .position {
    color: #dbdbdb;
    font-size: 1.063rem;
    font-weight: 300;
}

.about p {
    font-size: 0.938rem;
    line-height: 1.5;
}

.contact {
    display: block;
    width: 210px;
    height: 40px;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #076678;

    font-size: 0.938rem;
    color: #ffffff;
    font-weight: 500;

    gap: 0.313rem;

    transition: 0.2s;
}

.contact:hover {
    background-color: #1195ad;
}

.links {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.projects-container {
    padding: 0rem 3.125rem;

    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .main {
        height: auto;
        padding: 30px;
    }
    
    .main .name {
        font-size: 2rem;  
    }
}
