:root {
    --bg-color: #282828;
    --primary: #fbf1c7;
    --link-color: #458588;
    --highlight: #2aeb7b;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.main {
    position: relative;

    width: 100%;
    height: 60%;

    padding: 0rem 3.125rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main::before {
    content: '';

    position: absolute;
    z-index: -5;
    
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    background: url("https://cdna.artstation.com/p/assets/images/images/072/429/988/large/davood-moghaddami-asset.jpg?1707334619");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.750);
}

.projects-container {
    padding: 0rem 3.125rem;

    display: flex;
    flex-direction: column;
}
